<app-slider>
  <div appSliderItem>
    <img
      mat-card-image
      src="../../../assets/img/food5.jpg"
      alt="Photo of a Shiba Inu"
    />
  </div>

  <div appSliderItem>
    <img
      mat-card-image
      src="../../../assets/img/food8.jpg"
      alt="Photo of a Akita"
    />
  </div>

  <div appSliderItem>
    <img
      mat-card-image
      src="../../../assets/img/food6.jpg"
      alt="Photo of a Akita"
    />
  </div>

  <div appSliderItem>
    <img
      mat-card-image
      src="../../../assets/img/food7.jpg"
      alt="Photo of a Shiba Inu"
    />
  </div>

  <div appSliderItem>
    <img
      mat-card-image
      src="../../../assets/img/food8.jpg"
      alt="Photo of a Akita"
    />
  </div>

  <div appSliderItem>
    <img
      mat-card-image
      src="../../../assets/img/food6.jpg"
      alt="Photo of a Akita"
    />
  </div>
</app-slider>
