<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="50">
    <div align="center">
      <div class="img3">
        <img src="../../../assets/img/food3.jpg" />
        <div><img src="../../../assets/img/food4.png" class="img4" /></div>
      </div>
    </div>
  </div>
  <div fxFlexOffset="5"></div>
  <div fxFlex="30">
    <h1>Daily Food Courses with Drinks</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation.
    </p>
    <div class="margin">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="15">
          <img src="../../../assets/img/about-author.png" class="img" />
        </div>
        <div fxFlex="85">
          <h4>Marvel Maison</h4>
          <p>CHIEF EXECUTIVE, AMAZON</p>
        </div>
      </div>
    </div>
  </div>
</div>
