<footer class="footer-area overlay">
  <div class="margin">
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <div fxFlexOffset="10"></div>
      <div fxFlex="14">
        <h2>Top Products</h2>
        <p>Managed Website</p>
        <p>Manage Reputation</p>
        <p>Power Tools</p>
        <p>Marketing Service</p>
      </div>
      <div fxFlex="14">
        <h2>Quick Links</h2>
        <p>Jobs</p>
        <p>Brand Assets</p>
        <p>Investor Relations</p>
        <p>Terms Of Service</p>
      </div>
      <div fxFlex="14">
        <h2>Features</h2>
        <p>Jobs</p>
        <p>Brand Assets</p>
        <p>Investor Relations</p>
        <p>Terms Of Service</p>
      </div>
      <div fxFlex="14">
        <h2>Resources</h2>
        <p>Guides</p>
        <p>Research</p>
        <p>Experts</p>
        <p>Agencies</p>
      </div>
      <div fxFlex="22">
        <h2>Newsletter</h2>
        <p>Stay update with our latest</p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Your Email Address</mat-label>
            <input matInput placeholder="Placeholder" />
            <a
              href="https://api.whatsapp.com/send?phone=919618587722&amp;text=Hi,%20I%20contacted%20you%20Through%20your%20website."
              target="_blank"
              title="Send"
            >
              <img src="../../../assets/img/2252530.png" onclick="send()"
            /></a>
          </mat-form-field>
        </p>
      </div>
      <div fxFlexOffset="10"></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start end">
      <div fxFlexOffset="11"></div>
      <div fxFlex="39">
        <p class="para">
          Copyright ©2019 All rights reserved | This template is made with
          <span style="color:#f42f2c">♡</span> by
          <span style="color:#f42f2c">Colorlib</span>
        </p>
      </div>
      <div fxFlex="39">
        <div class="middle">
          <a class="btn" href="#">
            <i class="fab fa-behance"></i>
          </a>
          <a class="btn" href="#">
            <i class="fab fa-dribbble"></i>
          </a>
          <a class="btn" href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="btn" href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
      <div fxFlexOffset="11"></div>
    </div>
  </div>
</footer>
