<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlexOffset="15"></div>
  <div fxFlex="30">
    <h1>Daily Food Courses with Drinks</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation.
    </p>
    <button>See Full Menu</button>
  </div>
  <div fxFlexOffset="5"></div>
  <div fxFlex="50">
    <div align="center">
      <div class="img1">
        <img src="../../../assets/img/food1.jpg" />
        <div><img src="../../../assets/img/food2.png" class="img2" /></div>
      </div>
    </div>
  </div>
</div>
