<div class="slider-container">
  <div class="slides" #slides>
    <ng-content select="[appSliderItem]" #sliderItem></ng-content>
  </div>
  <div class="controls">
    <div fxLayout="row" fxLayoutAlign="end">
      <div fxFlex="90">
        <img src="../../../assets/img/prev.png" (click)="onClickLeft()" />
      </div>
      <div fxFlex="10">
        <img src="../../../assets/img/next.png" (click)="onClickRight()" />
      </div>
    </div>
  </div>
</div>

<div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label for="name">Pizza Name</label>
    <input type="text" class="form-control" id="name" name="name" ngModel />

    <button class="btn btn-primary" type="submit">Order Now</button>
  </form>
</div>
