.slider-container {
  display: flex;
  flex-direction: column;
}

.slides {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.controls {
  display: flex;
  justify-content: center;
}
img {
  cursor: pointer;
  opacity: 0.5;
}
img:hover {
  opacity: 1;
}
