<!-- <div class="diamond">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="square"></div>
<div class="trapezoid"></div>
<div class="pentagon"></div>
<div class="triangle"></div>
<div class="circle"></div>
<div class="ellipse"></div>
<div class="rectangle"></div>
<div class="squar"></div>
<div class="triangle-topleft"></div>
<div class="triangle-bottomright"></div>
<div class="triangle-topright"></div>
<div class="triangle-bottomleft"></div> -->
<div class="container">
  <button class="btn btn-info" (click)="fireEvent()">
    Trigger Notify
  </button>
</div>
