<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex="100" class="img">
    <div class="circle">
      <span>▷</span>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="40" fxHide.sm fxHide.xs>
        <h3>WATCH VIDEO</h3>
        <p class="para">You will love our execution</p>
      </div>
      <div fxFlex="60" fxHide.sm fxHide.xs>
        <div class="card">
          <div class="margin">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <div fxFlex="70">
                <p>STEAK SHOP OFFERS BEST STEAK IN TOWN</p>
                <h1>Steak Shop offers best steak in town</h1>
                <p style="line-height: 25px;">
                  inappropriate behavior is often laughed off as “boys will be
                  boys,” women face higher conduct standards especially in the
                  workplace. That’s why it’s crucial that, as women.
                </p>
              </div>
              <div fxFlex="30">
                <div align="center">
                  <button>EXPLORE MENU</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div fxLayout="row wrap" fxLayoutAlign="center">
  <div
    fxFlex="100"
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxHide.md
    fxHide.lg
    fxHide.xl
  >
    <div class="card">
      <div class="margin">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="70" fxFlex.sm="100" fxFlex.xs="100">
            <p>STEAK SHOP OFFERS BEST STEAK IN TOWN</p>
            <h1>Steak Shop offers best steak in town</h1>
            <p style="line-height: 25px;">
              inappropriate behavior is often laughed off as “boys will be
              boys,” women face higher conduct standards especially in the
              workplace. That’s why it’s crucial that, as women.
            </p>
          </div>
          <div fxFlex="30" fxFlex.sm="100" fxFlex.xs="100">
            <div align="center">
              <button>EXPLORE MENU</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
