.img {
  background-image: url("../../../assets/img/home-banner.jpg");
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  background-size: 100% 100%;
}
.circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 10%;
  left: 6%;
  -webkit-transition: height 0.25s ease, width 0.25s ease;
  transition: height 0.25s ease, width 0.25s ease;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.circle:before,
.circle:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 6px solid rgb(192, 183, 183);
}

.circle:before {
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
}
.circle:after {
  -webkit-animation: ripple 2s linear 1s infinite;
  animation: ripple 2s linear 1s infinite;
}

.circle:hover:before,
.circle:hover:after {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.75);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.75);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
span {
  position: relative;
  font-size: 15px;
  top: 16px;
  left: 24px;
}
h3 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 400;
  position: absolute;
  bottom: 17%;
  left: 10%;
}
.para {
  position: absolute;
  bottom: 15%;
  left: 10%;
  color: #ffffff;
}
.card {
  height: 370px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
}
.margin {
  margin: 50px;
}
h1 {
  font-size: 42px;
  margin-bottom: 30px;
  line-height: 60px;
}
button {
  display: inline-block;
  padding: 0px 30px;
  color: #222222;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
  line-height: 50px;
  border: 1px solid #f42f2c;
  border-radius: 2px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
}
button:hover {
  background: #f42f2c;
  color: #ffffff;
}
