<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlexOffset="20"></div>
  <div fxFlex="60">
    <h1>In associasion with</h1>
    <div align="center">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>
  <div fxFlexOffset="20"></div>
</div>
<div align="center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlexOffset="15"></div>
    <div fxFlex="14">
      <img src="../../../assets/img/logo1.png" />
    </div>
    <div fxFlex="14">
      <img src="../../../assets/img/logo2.png" />
    </div>
    <div fxFlex="14">
      <img src="../../../assets/img/logo3.png" />
    </div>
    <div fxFlex="14">
      <img src="../../../assets/img/logo4.png" />
    </div>
    <div fxFlex="14">
      <img src="../../../assets/img/logo5.png" />
    </div>
    <div fxFlexOffset="15"></div>
  </div>
</div>
