<!-- <div class="shadow">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="100">
      <img src="../../../assets/img/logo.png" />
    </div>
    <div style="margin-top:20px"></div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="100">
      <div class="nav active" [routerLinkActive]="['active']">
        <img
          src="../../../assets/img/header/nav-icon1.png"
          style="vertical-align: middle;"
        />
        <span style="margin-left:10px">Home</span>
      </div>
    </div>
    <div fxFlex="100">
      <div class="nav" [routerLinkActive]="['active']">
        <img
          src="../../../assets/img/header/nav-icon2.png"
          style="vertical-align: middle;"
        />
        <span style="margin-left:10px">About</span>
      </div>
    </div>
    <div fxFlex="100">
      <div class="nav" [routerLinkActive]="['active']">
        <img
          src="../../../assets/img/header/nav-icon3.png"
          style="vertical-align: middle;"
        />
        <span style="margin-left:10px">Menu</span>
      </div>
    </div>
    <div fxFlex="100">
      <div class="nav" [routerLinkActive]="['active']">
        <img
          src="../../../assets/img/header/nav-icon4.png"
          style="vertical-align: middle;"
        />
        <span style="margin-left:10px">Book Table</span>
      </div>
    </div>
    <div fxFlex="100">
      <div class="nav" [routerLinkActive]="['active']">
        <img
          src="../../../assets/img/header/nav-icon5.png"
          style="vertical-align: middle;"
        />
        <span style="margin-left:10px">Chefs</span>
      </div>
    </div>
    <div fxFlex="100">
      <div class="nav" [routerLinkActive]="['active']">
        <img
          src="../../../assets/img/header/nav-icon6.png"
          style="vertical-align: middle;"
        />
        <span style="margin-left:10px">Pages</span>
      </div>
    </div>
    <div fxFlex="100">
      <div class="nav" [routerLinkActive]="['active']">
        <img
          src="../../../assets/img/header/nav-icon7.png"
          style="vertical-align: middle;"
        />
        <span style="margin-left:10px">Blog</span>
      </div>
    </div>
    <div fxFlex="100">
      <div class="nav" [routerLinkActive]="['active']">
        <img
          src="../../../assets/img/header/nav-icon8.png"
          style="vertical-align: middle;"
        />
        <span style="margin-left:10px">Contact</span>
      </div>
    </div>
  </div>
</div> -->
<div class="sidenav">
  <div align="center">
    <img src="../../../assets/img/logo.png" />
  </div>
  <a class="nav active" href="#about" style="margin-top: 40px;">
    <img src="../../../assets/img/header/nav-icon1.png" />
    <span>Home</span></a
  >
  <a class="nav" href="#services">
    <img src="../../../assets/img/header/nav-icon2.png" />
    <span>About</span></a
  >
  <a class="nav" href="#clients">
    <img src="../../../assets/img/header/nav-icon3.png" />
    <span>Menu</span>
  </a>
  <a class="nav" href="#contact">
    <img src="../../../assets/img/header/nav-icon4.png" />
    <span>Book Table</span></a
  >
  <a class="nav" href="#clients">
    <img src="../../../assets/img/header/nav-icon5.png" />
    <span>Chefs</span>
  </a>
  <a class="nav" href="#contact">
    <img src="../../../assets/img/header/nav-icon8.png" />
    <span>Contact</span></a
  >
</div>
